*{
  padding:0;
  margin:0;
}


#root{
  height: 100vh;
}

.App{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Region{
  width: 90%;
  height: 70%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  border-radius: 20px;
  overflow: hidden;

}

.inputs{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
  font-size: 2rem;
  background:radial-gradient(rgb(197, 202, 110),rgb(12, 224, 47));
}


#output-field{
  outline:0;
  border:4px solid red;
  border-radius: 36px;
  text-align: right;
  font-size: 2rem;
  padding-right:3px;
  overflow-x:auto;
  padding-right: 20px;
  background-color: yellow;
  margin-bottom: 20px;
  /* background:radial-gradient(rgb(241, 184, 11),rgb(195, 206, 110)); */
}

.close:hover{
  background-color: rgb(255, 0, 0);
}

.equal:hover{
  background-color: greenyellow;
}

button{
  border:4px solid red;
  border-radius: 1.2rem;
}

button:hover{
  background-color: beige;
}


@media screen and (min-width: 480px) {
  .Region {
    width: 70%;
  }
}

@media screen and (min-width: 700px) {
  .Region {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .Region {
    width: 42%;
  }
}

@media screen and (min-width: 1000px) {
  .Region {
    width: 30%;
  }
}